/* RESET */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
}

/* HEADER */

header {
    height: 5rem;
    background-color: white;
    position: fixed;
    top:0; right: 0; left: 0;
    z-index: 10;
}

.header-container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    height: 100%;
}

.header-left,
.header-right {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding: 0 1rem
}

header li {
    list-style: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    width: fit-content;
    height: fit-content;
}

header img {
    width: 5rem;
}

header h5 {
    font-weight: 300;
}

/* MAIN */

main {
    margin-top: 5rem;
    margin-bottom: 3rem;
    height: 92vh;
}

.container {
    display: flex;
    background-color: rgb(126, 254, 212);
    margin: 0 auto;
    height: 100%;
}

.grid {
    --sideSquare: 10;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 500px;
    height: 500px;
    border: 2px black solid;
}

.cell{
    background-color: rgb(255, 209, 102);
    border: solid 2px black;
    height: calc(100% / var(--sideSquare));
    width: calc(100% / var(--sideSquare));
    cursor: pointer;
}

.active {
    background-color: rgb(19, 137, 178);
}

.number {
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    margin: auto;
}

.hidden {
    display: none;
}

/* FOOTER */

footer {
    background-color: white;
    position: fixed;
    bottom: 0; left: 0; right: 0;
    z-index: 10;
    height: 3rem;
}

.footer-container {
    margin: auto 0;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    height: 100%;
}

.fa-heart {
    font-size: .8rem;
}